*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.claude
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/artikel.html
/auth.json
/docs
/bgn-article-index.json
/bgn-articles-test.json
/bgn-articles.json
/bgn-photos.json
/bgn-press-releases.json
/endpoint-data-mbg.txt
/json-file-mbg.json
/mbg-raw-data
/node_modules
/PRD-Website-Institusi-Laravel12-PostgreSQL.md
/sample.html
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
